# Dependências e pastas
node_modules/
.pnp.*
migrations/
.nx/
.yarn/

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Arquivos variados
.gitattributes

# Testes
coverage

# Next.js
.next/
out/
.vercel
next-env.d.ts

# Compilações
build
dist
.nyc_output

# Depuração de código
npm-debug.*
yarn-debug.*
yarn-error.*
logs
*.log
pnpm-debug.log*
lerna-debug.log*

# MacOS
.DS_Store
*.pem

# Variáveis de ambiente
.env
.env*.local

# Typescript
*.tsbuildinfo
